body{
    border: 3px solid black ;    
    text-align: center;
    margin: 100px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 100px;   
}

#emj{
    font-size: 2rem;
    border: 1px solid silver;
    padding: 10px;
    margin: 10px;
    
 }
code{
    font-size: 15px;
    background-color: rgb(235, 231, 231)
}

@media screen and (max-width: 600px){
    body{
        margin: auto;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}